{
  "plugins": ["transform-flow-strip-types"],
  "presets": [
    [
      "env",
      {
        "targets": {
          "chrome": 56,
          "node": "current"
        }
      }
    ],
    "react"
  ],
}
